{%load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Afex Dev Test</title>
    
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@400;700&display=swap');

        body{
            font-family: 'Lobster Two', cursive;
        }
    </style>

</head>
<body>
    <h1>Edit Wallet for  {{wallet.customer.first_name}} {{wallet.customer.last_name}} CID: {{wallet.customer.cid}}</h1>

    {% include "form.html" with form=form button='Update Wallet Details' %}
</body>
</html>
